*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: inherit;
}

h2{
  padding-bottom: 20px;
}

/* utilities */
.float-l{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.border-r-2{
  border-radius: 2%;
}
/* /utilities */

body{
 background-image: url(../img/background.png);
}

.container{
  width: 1200px;
  margin: 0 auto;
}

header{
  background: #fff;
  margin-top: 20px;
  padding: 10px;
}

.logo-header{
  background-image: url(../img/header-background.png);
  padding: 60px;
  color: #fff;
}

.logo{
  height: 250px;
  background: url(../img/logo.png) no-repeat center;
  background-size: contain;
}

.subheading{
  text-align: center;
  font-size: 30px;
}

.page-center{
  padding: 10px 0;
}

.horizontal-navbar{
  height: 50px;
  background-color: #666;
  color: #fff;
  position: relative;
}

.horizontal-navbar ul{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.horizontal-navbar li{
  padding: 0 10px;
}

.side-navbar{
  width: 15%;
  background: #fff;
  padding: 5px;
}

.nav-title{
  font-size: 30px;
  padding: 0 5px;
}

.side-navbar li{
  padding-top: 10px;
  color: #3F9428;
}

main{
  width: 70%;
  padding: 0 50px;
}

.main-content{
  background: purple;
  height: 600px;
}

.widget-bar{
  width: 15%;
}

.widget-bar div{
  height: 250px;
  margin-bottom: 20px;
  background-color: pink;
}

footer{
  height: 100px;
  background: lightgrey;
}
